@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~@fontsource/montserrat/index.css";
@import "~@fontsource/montserrat/500.css";
@import "~@fontsource/montserrat/600.css";
@import "~@fontsource/montserrat/700.css";
@import "~@fontsource/montserrat/800.css";
@import "~@fontsource/montserrat/900.css";

@import "./variables.scss";

// common
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat";
}

.container {
    width: 60%;
    margin: 0 auto;
}

.list-inline {
    list-style: none;

    li {
        display: inline-block;
    }

    a {
        text-decoration: none;
    }
}


.span-highlight {
    color:$blueLagoon;
    padding: 5px 15px;
    background-color: #d5e7e8;
}

h1 {
    font-size: 55px;
    color: $bigStone;
}

h2 {
    font-size: 35px;
    font-weight: 800;
}

h5 {
    text-transform: uppercase;
    color: $blueLagoon;
    font-size: 12px;
    font-weight: 600;
}

p {
    font-size: 14px;
}

// buttons
.btn {
    font-weight: 500;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 3px;
    text-transform: uppercase;

    a {
        text-decoration: none;
    }
}

.btn-primary {
    background-color: $blueLagoon;
    border: 1px solid $blueLagoon;


    a {
        color: $white;
    }
}

.btn-secondary {
    background-color: $white;
    border: 1px solid $blueLagoon;

    a {
        color: $blueLagoon;
    }
}
