@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~@fontsource/montserrat/index.css";
@import "./variables.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat";
}


.container {
    width: 60%;
    margin: 0 auto;
}

.flex-spbt-centre {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-inline {
    list-style: none;

    li {
        display: inline-block;
    }

    a {
        text-decoration: none;
    }
}

.btn {
    padding: 10px 5px;
    border-radius: 3px;
    background-color: $blueLagoon;

    a {
        color: $white;
    }
}