$bigStone: #122439;
$pumice: #bcbebc;
$gravel: #504f51;
$blueLagoon: #038484;
$white: #ffffff;
$greyNurse: #eef1ed;
$shark: #1d2023;
$woodSmoke: #111117;
$masala: #443c3b;
$fountainBlue: #52bbba;
$elm: #1c918e;

